/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1342px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0 19px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0px 8px;
    }

    .text-bg h1 {
        font-size: 86px;
        line-height: 100px;
        padding-bottom: 11px;
    }

    .choose_text h3 {
        font-size: 18px;
    }

    .choose .titlepage {
        padding-bottom: 40px;
    }

    .choose .read_more {
        margin-top: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0px 12px;
    }

    .banner_main {
        min-height: 605px;
    }

    .three_box {
        margin-top: -102px;
    }

    .padding_with {
        max-width: inherit;
    }

    .choose .titlepage {
        padding-bottom: 40px;
    }

    .choose_img {
        margin-right: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .logo::after {
        height: 96px;
        left: -77px;
    }

    .text-bg h1 {
        font-size: 49px;
        line-height: 65px;
        padding-bottom: 10px;
    }

    .product_box figure img {
        height: 200px;
    }

    .product-slide {
        flex: 0 0 calc(50% - 10px);
        min-width: 240px;
    }

    .product-slider-wrapper {
        padding: 0 50px;
    }

    .navigation.navbar {
        padding-top: 12px !important;
    }

    ul.social_icon li a {
        width: 33px;
        margin: 0 1px;
        height: 33px;
    }

    ul.location_icon li {
        font-size: 13px;
    }

    .titlepage h2 {
        font-size: 33px;
    }

    .d_none {
        display: none;
    }

    /* Banner text overlays */
    .banner-text-overlay {
        width: 50%;
        padding: 30px 35px;
    }

    .banner-text-overlay h2 {
        font-size: 26px;
    }

    .banner-text-overlay p {
        font-size: 13px;
    }

    .banner-text-overlay h4 {
        font-size: 15px;
    }

    /* Client slider */
    .client-slide {
        flex: 0 0 calc(33.33% - 20px);
    }

    .client-slider-wrapper {
        padding: 0 50px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .logo::after {
        width: 78px;
        height: 115px;
    }

    .logo {
        padding-top: 15px;
    }

    .d_none {
        display: none;
    }

    .text-bg h1 {
        font-size: 50px;
        line-height: 40px;
        padding-bottom: 25px;
        margin-top: 50px;
    }

    .text-bg {
        padding-left: 0px;
        padding-bottom: 30px;
    }

    .border_right {
        border-right: inherit;
    }

    .padding_with {
        max-width: inherit;
    }

    .choose .titlepage {
        padding-bottom: 40px;
    }

    .choose_img {
        margin-right: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .padding_left0 {
        padding-left: 15px;
    }

    .padding_right0 {
        padding-right: 15px;
    }

    .box_text {
        margin-top: 30px;
        box-shadow: #ddd 0px 0px 7px 0px;
    }

    .padding_bottom2 {
        padding-bottom: 30px;
    }

    .titlepage h2 {
        font-size: 34px;
    }

    .about_img {
        margin-bottom: 20px;
    }

    ul.social_icon {
        margin-bottom: 25px;
    }

    .about_Carousel .test_box p {
        padding-left: 47px;
    }

    ul.location_icon li {
        font-size: 17px;
        padding-left: 13px;
    }

    .margin_boot {
        margin-bottom: 20px;
    }

    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: auto;
        padding-top: 12px;
    }

    .banner_main {
        min-height: 500px;
    }

    .navigation .navbar-collapse {
        background: #000;
        padding: 20px;
        margin-top: 70px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }

    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #fff;
    }

    .navigation.navbar-dark .navbar-toggler {
        border: inherit;
        float: right;
        padding-top: 6px;
    }

    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }

    .hottest .hottest_box {
        margin-top: 30px
    }

    .product-slide {
        flex: 0 0 calc(50% - 10px);
        min-width: 220px;
    }

    .product-slider-wrapper {
        padding: 0 45px;
    }

    /* Banner text overlays */
    .banner-slide img {
        height: 450px;
    }

    .banner-text-overlay {
        width: 55%;
        padding: 25px 30px;
    }

    .banner-text-overlay h2 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .banner-text-overlay p {
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 8px;
    }

    .banner-text-overlay h4 {
        font-size: 14px;
    }

    .banner-text-overlay ul {
        gap: 5px 15px;
    }

    .banner-text-overlay ul li {
        font-size: 12px;
    }

    .banner-text-center {
        width: 100%;
    }

    /* Client slider */
    .client-slide {
        flex: 0 0 calc(50% - 15px);
    }

    .client-logo-box {
        height: 140px;
        padding: 15px 20px;
    }

    .client-logo-box img {
        max-height: 100px;
    }

    .client-slider-wrapper {
        padding: 0 45px;
    }
}

@media (max-width: 575px) {
    .product-slide {
        flex: 0 0 80%;
        min-width: 250px;
    }

    .product-slider-wrapper {
        padding: 0 40px;
    }

    .product-slider-arrow {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }

    .product {
        padding: 50px 0 30px 0;
    }

    .header {
        padding: 30px 0px 30px 0px;
    }

    .logo {
        text-align: left !important;
        padding-bottom: 6px;
        float: left;
        padding-left: 15px;
    }

    .d_none {
        display: none;
    }

    .banner_main {
        min-height: 400px;
    }

    .text-bg h1 {
        font-size: 36px;
        line-height: 46px;
        padding-bottom: 10px;
    }

    .three_box {
        padding: 0 0px;
    }

    .hottest .hottest_box {
        margin-top: 30px
    }

    .border_right {
        border-right: inherit;
    }

    .padding_bottom2 {
        padding-bottom: 30px;
    }

    .padding_with {
        max-width: inherit;
    }

    .choose .titlepage {
        padding-bottom: 40px;
    }

    .choose_img {
        margin-right: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .padding_left0 {
        padding-left: 15px;
    }

    .padding_right0 {
        padding-right: 15px;
    }

    .box_text {
        margin-top: 30px;
        box-shadow: #ddd 0px 0px 7px 0px;
    }

    .about_Carousel .test_box i {
        margin-top: inherit;
        z-index: inherit;
        margin-bottom: 18px;
    }

    .test_box {
        padding: 64px 18px 40px 36px;
    }

    .about_Carousel .test_box p {
        padding-left: 3px;
        margin-top: 20px;
    }

    ul.social_icon {
        margin-bottom: 25px;
    }

    .margin_boot {
        margin-bottom: 20px;
    }

    .text-bg a {
        max-width: 132px;
        padding: 10px 0px;
    }

    .titlepage h2 {
        font-size: 27px;
        line-height: 44px;
    }

    ul.location_icon li {
        padding-left: 0px;
        display: block;
        text-align: left;
        margin-top: 20px;
    }

    .about .about_box {
        padding: 0px 0px 30px 0px;
    }

    .about_box {
        padding-top: 0;
    }

    .about .about_box h3 {
        font-size: 21px;
    }

    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0 !important;
        width: auto;
        margin-top: -50px;
    }

    .navigation .navbar-collapse {
        background: #000;
        padding: 20px;
        margin-top: 69px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }

    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #fff;
    }

    .navigation.navbar-dark .navbar-toggler {
        float: right;
        margin-right: 2px;
        border: inherit;
    }

    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }

    /* Banner text overlays - mobile */
    .banner-slide img {
        height: 400px;
    }

    .banner-text-overlay {
        position: relative;
        width: 100%;
        height: auto;
        padding: 25px 20px;
        text-align: center;
        align-items: center;
    }

    .banner-text-overlay h2 {
        font-size: 22px;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    .banner-text-overlay p {
        font-size: 13px;
        line-height: 1.5;
        margin-bottom: 8px;
    }

    .banner-text-overlay h4 {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .banner-text-overlay ul {
        gap: 5px 15px;
        justify-content: center;
    }

    .banner-text-overlay ul li {
        font-size: 13px;
    }

    .banner-text-left {
        right: auto;
        left: 0;
    }

    .banner-slider-arrow {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }

    /* Client slider - mobile */
    .client-slide {
        flex: 0 0 70%;
        min-width: 200px;
    }

    .client-logo-box {
        height: 120px;
        padding: 15px;
    }

    .client-logo-box img {
        max-height: 80px;
    }

    .client-slider-wrapper {
        padding: 0 40px;
    }

    .client-slider-arrow {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }
}